@model List<WebApplication5.ViewModels.Product.ProductViewModel>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @foreach (var product in Model)
        {
            <h1>@product.Name</h1>
            @*<h1>@product.ImgUrl</h1>*@
            <h1>@product.UnitPrice</h1>
            @*<h1>@product.Stock</h1>*@
        }
    </div>
</body>
</html>
